# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node.js
# dependencies 
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
# Expo
.expo/
dist/
web-build/
expo-env.d.ts
build/
.expo/
.expo-shared/
# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
# OS / Éditeurs de code
.DS_Store
Thumbs.db
.vscode/
.idea/
*.pem

# local env files (Environnement)
.env*.local 
.env.local
.env.*.local

# typescript
*.tsbuildinfo
